.rp_draw_numbers {
  font-size: 20px;

  span b {
    font-size: 27px;
  }

}

.rp_btn_section_holder {

  h2 {
    margin-bottom: 30px;
  }

  .rp_btn_holder {
    text-align: center;

    input {
      min-width: 52px;
      margin-top: 10px;
      margin-bottom: 10px;

    }

  }
}

